/* CSS for IE */
/* NB: Replace transparent png images with transparent gif images */

* html #fw-left { /* Required for footer widget positions */
  left: 330px;
}

/*=- Forms -=*/
/* Positioning Fix for IE6 & IE7 */
legend {
  left: -7px;
  position: relative;
}
/*-= End Forms =-*/

/*-= Footer Widgets =-*/

#footer-widgets, #footer-widgets-below, .footer-widget,
.widget, .widget-bottom {
  position: relative;
  top: -3px;
}
/*-= End Footer Widgets =-*/

blockquote {background: url(images/quotes.gif) no-repeat top left;}

.hr, .groundfloor {background-image: url(images/hr-img.gif);}

/* Revision: April 18, 2010 v1.4 */